@import url("https://fonts.googleapis.com/css?family=Quicksand:400,500,700");

.navbar {
  background-color: rgba(249, 248, 248, 0.2);
  font-weight: bold;
  font-family: "Quicksand", sans-serif;
}

.navbar__link {
  color: white;
  font-weight: bold;
  font-family: "Quicksand", sans-serif;
}

.navbar__link:hover {
  color: black;
}

.navbar__item:hover {
  color: rgb(174, 102, 241);
  background-color: #efeeee;
  border-radius: 8px;
}
