.recommend__block {
  height: 400px;
  position: relative;
}

.headtext {
  padding: 20px;
}

.cardgroup {
  padding-left: 80px;
  padding-right: 80px;
}

.card {
  margin-left: 48px;
  margin-right: 48px;
  background: transparent;
  border: 0px;
}

.card__img {
  border-radius: 8px;
}
