.choice__block {
  padding-top: 30px;
  background-color: #f3ece7;
  position: relative;
}

.button {
  border: none;
  background-color: #e4dac2;
  color: #7b7b7b;
  cursor: pointer;
}

.cardgroup {
  min-width: 768px;
  flex-direction: row;
}

.card {
  margin: auto;
}

.card__img {
  width: 8rem;
  align-self: center;
}

.btn--active,
.btn:hover {
  background-color: #d3c4be;
}
