.choice__block {
  padding-top: 30px;
  background-color: #f3ece7;
  position: relative;
  overflow: overlay;
}
@import url("https://fonts.googleapis.com/css?family=Quicksand:400,500,700");

.button {
  width: 140px;
  height: 46px;
  border: none;
  color: #7b7b7b;
  cursor: pointer;
  background-color: #e4dac2;
  font-family: "Quicksand", sans-serif;
}

.cardgroup__choice {
  min-width: 768px;
  flex-direction: row;
  font-family: "Quicksand", sans-serif;
}

.card__choice {
  margin-left: 120px;
  margin-right: 120px;
  background: transparent;
  border: 0px;
}

.cardimg__choice {
  align-self: center;
  width: 12rem;
}

.btn--active,
.btn:hover {
  background-color: #d3c4be;
}
