@import url("https://fonts.googleapis.com/css?family=Quicksand:400,500,700");

.carousel__block {
  height: 460px;
  position: relative;
  background-color: black;
  overflow: hidden;
  font-family: "Quicksand", sans-serif;
}
